/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --color-background: #FFC2E6;
  --color-primary: #353430;
  --color-title: #FFC2E6;
  --color-text: #353430;
  --color-text-on-primary: #353430;
  --color-decor-bg: #FF8DCB;
  --color-title-shadow: #FF8DCB;
  --color-button-hover-border: rgba(50, 49, 45, 0.4);
  --page-background-color: transparent;
  --page-background-image: url('../images/cover-image-light.png');
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
}

:root.theme-light .header__rec {
  display: none;
} 

@media (prefers-color-scheme: light) {
  :root {
    --color-background: #FFC2E6;
    --color-primary: #353430;
    --color-title: #FFC2E6;
    --color-text: #353430;
    --color-text-on-primary: #353430;
    --color-decor-bg: #FF8DCB;
    --color-title-shadow: #FF8DCB;
    --color-button-hover-border: rgba(50, 49, 45, 0.4);
    --page-background-color: transparent;
    --page-background-image: url('../images/cover-image-light.png');
  }
  
  :root .header__rec {
    display: none;
  }
}